.container {
  padding: 2rem;
}

.back {
  display: inline-block;
  margin-bottom: 1rem;
  text-decoration: none;
  color:  #333;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #d19108;
}

.details {
  display: flex;
  gap: 2rem;
}

.poster {
  width: 250px;
  border-radius: 8px;
}

.info {
  max-width: 600px;
}

.additional {
  margin-top: 2rem;
}

.link {
  text-decoration: none;
  color: #333;
}

.active {
  color:#d19108;
  font-weight: bold;
}