.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.error {
  color: red;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}
