.header {
  position: sticky; 
  top: 0;
  background-color: #111;
  border-radius: 8px; 
  color: #fff;
  z-index: 1000;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}

.nav {
  display: flex;
}

.link {
  color: #ccc;
  text-decoration: none;
  margin-left: 1.5rem;
  font-size: 50px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.link:hover {
  color: #fff;
}

.active {
  border-bottom: 2px solid #d19108;
  color: #fff;
}
