.container {
  padding: 2rem;
  text-align: center;
}

.form {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.button {
  padding: 0.5rem 1rem;
  background-color:  #d19108;
  border-radius: 8px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #a67907;
}

.error {
  color: red;
  font-weight: bold;
}