.list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.item {
  margin: 0.5rem 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(223, 172, 6, 0.1);
  padding: 1rem;
  margin-right: 1rem;
  background-color: #eae8e7;
}

.link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.link:hover {
  color: #d19108;
  font-weight: bold;
}