.list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
}

.item {
  text-align: center;
}

.photo {
  width: 100px;
  border-radius: 8px;
}

.error {
  color: red;
  font-weight: bold;
}

.loading {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}